#dtt{
    display: flex;
}
.geeks{
    padding-bottom: 5px;
    padding-top: 30px;
}
#image{
    background-image: url("../image/empowher.jpg");
    background-size: contain;
    height: 448px;
}
.canasu{
    color: black;
    font-size: 60px;
}